<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"  %>
  </div>

  <div id="content">
    <h1>Hey, I,m Berry Red</h1>
    <p>Welcome to my first project on Rails! I'm happy to try myself as a programmer. * Thanks to Vitaly Liber and Irina Liber ^ ^</p>
    <p>In this blog I will tell a little about myself and I will probably share my success in programming on Ruby and Rails :)</p>
    <p>If you if you want to see my other works except programming or chat with me, subscribe to my social media ^ ^</p>
  </div>
</div>